body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent scrollbars from appearing */
}
img {
    position: absolute;
    max-width: 10%; /* Adjust as needed */
    height: auto;
}
